extends layout

block content

    div#blocker(style='display: -webkit-box;')
        div#instructions(style='')
            span(style='font-size:40px') Click to play
            p (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
     div#message
            p
                strong CameraX:
                     span#cameraX Isit320_McCann
            p
                 strong CameraY:
                     span#cameraY
            p
                 strong CameraZ:
                     span#cameraZ
            p
                 strong MazeX:
                    span#mazeX
            p
                 strong MazeY:
                    span#mazeY

            ul#npcs