include mixins

block content
    h1= title
    p Welcome to #{title}

    +panel('Basics', 'default')
        button.btn.btn-primary#page01 Page01
        button.btn.btn-primary#page02 Page02
        button.btn.btn-primary#page03 Page03
        <br>
        button.btn.btn-primary#viewPage01 View Page01
        button.btn.btn-primary#viewPage02 View Page02
        <br>
        button.btn.btn-danger#request Request
        button.btn.btn-danger#sessionStatus Session Status
        <br>
        button.btn.btn-info#designDoc Insert Design Doc
        button.btn.btn-info#sessionView View Sessions
    +panel('Display', 'default')
        pre#display