extends menu-mixin
include mixins

block append content
    h1= title
    p Welcome to #{title}

    +panel('Authentication', 'default')
        a(href='/status')
            button.btn.btn-primary#authLoginStatus Google Login Status
        <br>
        a(href='/logout')
            button.btn.btn-primary#authLogout Google Logout
        a(href='/auth/google')
            button.btn.btn-primary#authLoginPage Google Login


    +panel('Login Status', 'default')
        pre#display