extends menu-mixin
include mixins

block append content
  h1= title
  p 
    | Welcome to #{title}. Click the options below, and if necessary 
    | scroll down to see the results.
  div#main-content
    +panel('Menu', 'default')
      div#menu-links

  +panel('Content', 'default')
    div#elfContent

  +panel('Table', 'default')
    div#myTable

  pre#debug

  div#docs

  div
    div(data-ng-view='')
