extends layout

block content

    .header
        +nav("Prog272 Midterm", "navigationbar", "navbar-default navbar-fixed-top")
            +nav_item( "/", "home", "active" ) Home
            +nav_item( "passport-page", "passport-page") Passport Status
            +nav_item_dropdown("#")( label="Database Status" )
                +nav_item(href="database-names") Database Names
                +nav_item("database-create") Create Database
                +nav_item("database-delete") Delete Database
            +nav_item_dropdown( "#" )( label="Dropdown" )
                +nav_item( "#" ) Action
                +nav_item( "#" ) Another action
                +nav_item( "#" ) Something else here
                +nav_divider
                +nav_header Nav header
                +nav_item( "#" ) Separated link
                +nav_item( "#" ) One more separated link