extends menu-mixin
include mixins

block append content
    h1= title
    p Welcome to #{title}

    +attribution

    p= content

    +bio

    +bootswatch('cerulean')

    button.btn-danger#aboutButton Go to Main
//
   Created by bcuser on 11/23/16.

