extends layout

block content
  h1= title
  p 
    | Welcome to #{title}. Click the options below, and if necessary 
    | scroll down to see the results.

  ul
    li 
      a(href='/#/databaseName') Get current Database Name and all names
    li
      a(href='/#/createDb') CreateDb
    li
      a(href='/#/deleteDb') DeleteDb
  ul
    li
      a(href='/#/insertStatesBulk') Insert Game Data in Bulk
    li
      a(href='/#/insertStatesOneDoc') Insert Game Data as one document
    li
      a(href="/#/insertDesignDoc") Insert Design Doc
  ul
    li
      a(href="/#/readOne") Read One Doc
    li
      a(href="/#/viewOneDoc") View Game Data with npc_id, npc_name and value from one document
    li
      a(href="/#/viewQuestionOneDoc") View Game Data with npc_id, npc_name and questions from one document

  div#editControls(style="display:none")
    div
      span Name:
      input#npcName(type="text")
    div
      span Description:
      input#npcDescription(type="text")
    div
      span Question:
      input#npcQuestion(type="text")
    div
      button#next(onclick='nextDoc()') Next
      button#back(onclick='backDoc()') Back

  p {{debug}}

  div
    div(data-ng-view='')
