block content
    h2 View Npcs One Doc

    div#editControls
        div
            span Id:
            input#npcName(type="text")
        div
            span Name:
            input#npcDescription(type="text")
        div
            span Question:
            input#npcQuestion(type="text")
        div
            button#back.btn.btn-primary <--
            button#next.btn.btn-primary -->