extends layout
include mixin-nav

block append content

    .header
        +nav("Prog270", "navigationbar", "navbar-default navbar-fixed-top")
            +nav_item( "/home", "home", "active" ) Home
            +nav_item( "passport-status", "passport-status" ) Passport Status
            +nav_item_dropdown( "#" )( label="Database Status" )
                +nav_item( "db-names", "db-names" ) Database Names
                +nav_item( "/about" ) About

    .container
        h1 #{pageTitle}
        p You are in the <strong>#{programTitle}</strong> program.

        #elfContent

        pre#debug
